<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top w-100" id="mainNavbar">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <i class="fas fa-map-marked-alt me-2"></i>BeloGo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/pages/map.html"><i class="fas fa-map me-1"></i>
                        Карта</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/reels.html"><i
                            class="bi bi-collection-play-fill"></i>
                        Лента</a></li>
                <li class="nav-item"><a class="nav-link" id="add-post-btn" href="/pages/loadimg.html"><i
                            class="bi bi-envelope-plus-fill"></i> Добавить пост</a></li>
                <li class="nav-item"><a class="nav-link" id="auth-link" href="/pages/auth.html"><i
                            class="fas fa-user me-1"></i> Войти</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/about.html"><i class="bi bi-info-circle-fill"></i>
                        О нас</a></li>
            </ul>
        </div>
    </div>
</nav>


<style>
    .navbar {
        transition: all 0.3s ease;
    }

    .navbar-hide {
        transform: translateY(-100%);
    }

    .navbar-brand {
        font-weight: 700;
    }

    .nav-link.active {
        font-weight: bold;
        color: #ffffff !important;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
    }

    #add-post-btn {}
</style>